@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.logo{
    line-height: 1;
}
@media (min-width: 1200px){
    .logo{
        width: 280px;
    }
}
.logo img{
    max-height: 26px;
    margin-right: 6px;
}

.logo span{
    font-size: 26px;
    font-weight: 700;
    color: hsl(94, 55%, 56%);
    font-family: 'Montserrat', sans-serif;
}